.Portfolio {
    color: white;
    padding: 10px;
}

.FiltersContainer {
    margin: 20px 0;
}

.Highlight {
    color: orangered;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
    .Portfolio {
        padding: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .Portfolio {
        padding: 20px 60px;
    }
}

@media only screen and (min-width: 1380px) {
    .Portfolio {
        padding: 20px 15%;
    }
}

