.Filter {
    width: auto;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 0 1px 5px 0 white;
    align-items: center;
    display: flex;
    margin: 5px;
    transition: all 0.5s ease-in;
}

.Active {
    background:#A82600;
    box-shadow: 0 1px 5px 0 #A82600;
    border-color: #A82600;
    transition: all 0.5s ease-in;
}


@media only screen and (min-width: 600px) {
    .Filter {
        padding: 10px 20px;
    }
}