.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Logo img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 1px 8px 0px white;   
}


@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}
/* 
@media only screen and  (min-width: 1980px) {
    .Toolbar {
        padding: 0 10%;
    }
} */