.ProjectCard {
    width: 100%;
    height: 300px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.5);
    cursor: pointer;
    position: relative;
}

.ImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: none;
    background-size: cover;
}

.ContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.ContentContainer h3 {
    position: absolute;
    top: -10px;
}
.ContentContainer button {
    position: absolute;
    bottom: -20px;
}

.ProjectCard:hover .ImageContainer {
    opacity: 0;
    transition: all 0.5s ease-in;
}

.ProjectCard:hover .ContentContainer h3 {
    animation: slideInTop 0.6s both linear;
}
.ProjectCard:hover .ContentContainer button {
    animation: slideInBottom 0.6s both linear;
}

.ProjectCard:hover .ContentContainer {
    opacity: 1;
    transition: all 0.5s ease-in;
}

@media only screen and (min-width: 600px) {
    .ProjectCard {
        width: 45%;
        height: 300px;
        margin: 15px;
    }
}

@media only screen and (min-width: 940px) {
    .ProjectCard {
        width: 30%;
    }
}

@keyframes slideInTop {
    from {
        top: -10px;
        opacity: 0;
    }
    to {
        top: 30%;
        opacity: 1;
    }
}
@keyframes slideInBottom {
    from {
        bottom: -10px;
        opacity: 0;
    }
    to {
        opacity: 1;
        bottom: 30%;
    }
}