.About {
    color: white;
    padding: 10px;
}

.Highlight {
    color: orangered;
    font-weight: bold;
}

.SubHeading {
    font-size: 18px;
    margin: 5px 0;
}

.SkillsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.ImgContainer {
    width: 100px;
    height: 100px;
}

.ImgContainer img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media only screen and (min-width: 600px) {
    .About {
        padding: 20px;
    }

    .SkillsContainer {
        justify-content: space-between;
        flex-flow: row;
    }
    
    .ImgContainer {
        width: 30%;
        height: auto;
        max-width: 250px;
    }
}

@media only screen and (min-width: 1024px) {
    .About {
        padding: 20px 60px;
    }
}

@media only screen and (min-width: 1980px) {
    .About {
        padding: 20px 10%;
    }
}