.Cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;

    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    align-items: center; */
}


@media only screen and (min-width: 600px) {
    .Cards {
        /* display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 1em; */
        justify-content: space-between;
    }
}