.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-image: url('../../assets/images/background-image-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height:100vh;
    width:100vw;
    color: white;
    font-weight: bold;
}