.MyPhotos {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 #fff;
    margin: 20px 0;
}

.MyPhotos img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media only screen and (min-width: 600px) {
    .MyPhotos {
        width:200px;
        height: 200px;
    }
}
/* 
@keyframes fade {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        width: 100%;
        height: 100%;
    }
} */