.Card {
    width: 100%;
    height: 250px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.5);
    position: relative;
}

.CardContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.ClientContainer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background: #A82600;
    align-items: center;
    height: 40px;
    font-weight: 700;
    line-height: 1em;
}

.ContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.ContentHeading {
    position: absolute;
    top: -10px;
    margin: 0;
}
.ContentContainer button {
    position: absolute;
    bottom: -20px;
}

.Card:hover .ImageContainer {
    opacity: 0;
    transition: all 0.3s ease-in;
}

.Card:hover .ContentHeading {
    animation: slideInTop 0.3s both ease-in;
}

.Card:hover .ContentContainer button {
    animation: slideInBottom 0.3s both ease-in;
}

.Card:hover .ContentContainer {
    opacity: 1;
    transition: all 0.3s ease-in;
}

.ContentHeading {
    font-size: 18px;
    font-weight: 700;
}

.CardSlide {
    animation: cardSlide 0.2s both ease-in;
}

@media only screen and (max-width: 600px) {
    .SmallCard {
        height: 110px;
        width: 45%;
        margin: 5px;
    }

    .SmallCard .ContentHeading {
        font-size: 12px;
    }
}

@media only screen and (min-width: 600px) {
    .Card {
        width: 45%;
        margin: 15px;
    }
}

@media only screen and (min-width: 940px) {
    .Card {
        width: 30%;
    }
}

@keyframes slideInTop {
    from {
        top: -10px;
        opacity: 0;
    }
    to {
        top: 30%;
        opacity: 1;
    }
}

@keyframes slideInBottom {
    from {
        bottom: -10px;
        opacity: 0;
    }
    to {
        opacity: 1;
        bottom: 30%;
    }
}

@keyframes cardSlide {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(0);
    }
}